In [1]:
import pandas as pd

In [77]:
df = pd.read_csv('fifa.csv')

In [93]:
df1 = df[['Name','Club','Nationality','Wage','Age','Position','Overall']]

#df1.iloc[0,0]

In [98]:
df2 = df1.loc[df1['Position']=='GK'].sort_values('Overall',ascending = False,) 
df2.head(10)

,Name,Club,Nationality,Wage,Age,Position,Overall
3,De Gea,Manchester United,Spain,€260K,27,GK,91
9,J. Oblak,Atlético Madrid,Slovenia,€94K,25,GK,90
18,M. ter Stegen,FC Barcelona,Germany,€240K,26,GK,89
19,T. Courtois,Real Madrid,Belgium,€240K,26,GK,89
22,M. Neuer,FC Bayern München,Germany,€130K,32,GK,89
37,H. Lloris,Tottenham Hotspur,France,€150K,31,GK,88
40,S. Handanovič,Inter,Slovenia,€110K,33,GK,88
41,G. Buffon,Paris Saint-Germain,Italy,€77K,40,GK,88
46,K. Navas,Real Madrid,Costa Rica,€195K,31,GK,87
57,Ederson,Manchester City,Brazil,€125K,24,GK,86

In [102]:
df2.to_csv('GkList.csv',index=False)